In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
data = pd.read_csv('macrodata-2.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      203 non-null    float64
 1   quarter   203 non-null    float64
 2   realgdp   203 non-null    float64
 3   realcons  203 non-null    float64
 4   realinv   203 non-null    float64
 5   realgovt  203 non-null    float64
 6   realdpi   203 non-null    float64
 7   cpi       203 non-null    float64
 8   m1        203 non-null    float64
 9   tbilrate  203 non-null    float64
 10  unemp     203 non-null    float64
 11  pop       203 non-null    float64
 12  infl      203 non-null    float64
 13  realint   203 non-null    float64
dtypes: float64(14)
memory usage: 22.3 KB

In [3]:
periods = pd.PeriodIndex(year = data.year, quarter = data.quarter, name = 'date')

periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203)

In [4]:
periods.to_timestamp('D', 'start')

DatetimeIndex(['1959-01-01', '1959-04-01', '1959-07-01', '1959-10-01',
               '1960-01-01', '1960-04-01', '1960-07-01', '1960-10-01',
               '1961-01-01', '1961-04-01',
               ...
               '2007-04-01', '2007-07-01', '2007-10-01', '2008-01-01',
               '2008-04-01', '2008-07-01', '2008-10-01', '2009-01-01',
               '2009-04-01', '2009-07-01'],
              dtype='datetime64[ns]', name='date', length=203, freq='QS-OCT')

In [5]:
data.index

RangeIndex(start=0, stop=203, step=1)

In [6]:
data.index = periods.to_timestamp('D', 'start')

In [7]:
columns = pd.Index(['realgdp', 'realcons', 'realinv', 'cpi', 'unemp', 'infl', 'realint'], name = 'item')

columns

Index(['realgdp', 'realcons', 'realinv', 'cpi', 'unemp', 'infl', 'realint'], dtype='object', name='item')

In [8]:
data = data.reindex(columns = columns)

data.head()

item         realgdp  realcons  realinv    cpi  unemp  infl  realint
date
1959-01-01  2710.349    1707.4  286.898  28.98    5.8  0.00     0.00
1959-04-01  2778.801    1733.7  310.859  29.15    5.1  2.34     0.74
1959-07-01  2775.488    1751.8  289.226  29.35    5.3  2.74     1.09
1959-10-01  2785.204    1753.7  299.356  29.37    5.6  0.27     4.06
1960-01-01  2847.699    1770.5  331.722  29.54    5.2  2.31     1.19

In [9]:
data.stack().head(10)

date        item
1959-01-01  realgdp     2710.349
            realcons    1707.400
            realinv      286.898
            cpi           28.980
            unemp          5.800
            infl           0.000
            realint        0.000
1959-04-01  realgdp     2778.801
            realcons    1733.700
            realinv      310.859
dtype: float64

In [15]:
data.iloc[data.infl == 2]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

In [16]:
data2 = pd.read_csv('world_bank_development_indicators.csv')

In [17]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16780 entries, 0 to 16779
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    16780 non-null  object
 1   date                                       16780 non-null  object
 2   agricultural_land%                         15298 non-null  float64
 3   forest_land%                               7914 non-null   float64
 4   land_area                                  15608 non-null  float64
 5   avg_precipitation                          10086 non-null  float64
 6   trade_in_services%                         9165 non-null   float64
 7   control_of_corruption_estimate             4564 non-null   float64
 8   control_of_corruption_std                  4564 non-null   float64
 9   access_to_electricity%                     7348 non-null   float64
 10  renewvable_energy_consumption%             8076 non-null   float64
 11  electric_power_consumption                 7790 non-null   float64
 12  CO2_emisions                               7408 non-null   float64
 13  other_greenhouse_emisions                  7408 non-null   float64
 14  population_density                         15579 non-null  float64
 15  inflation_annual%                          10775 non-null  float64
 16  real_interest_rate                         4397 non-null   float64
 17  risk_premium_on_lending                    2367 non-null   float64
 18  research_and_development_expenditure%      2776 non-null   float64
 19  central_goverment_debt%                    2069 non-null   float64
 20  tax_revenue%                               5079 non-null   float64
 21  expense%                                   4733 non-null   float64
 22  goverment_effectiveness_estimate           4540 non-null   float64
 23  goverment_effectiveness_std                4540 non-null   float64
 24  human_capital_index                        601 non-null    float64
 25  doing_business                             189 non-null    float64
 26  time_to_get_operation_license              362 non-null    float64
 27  statistical_performance_indicators         689 non-null    float64
 28  individuals_using_internet%                7975 non-null   float64
 29  logistic_performance_index                 1407 non-null   float64
 30  military_expenditure%                      9917 non-null   float64
 31  GDP_current_US                             13365 non-null  float64
 32  political_stability_estimate               4615 non-null   float64
 33  political_stability_std                    4615 non-null   float64
 34  rule_of_law_estimate                       4654 non-null   float64
 35  rule_of_law_std                            4654 non-null   float64
 36  regulatory_quality_estimate                4542 non-null   float64
 37  regulatory_quality_std                     4542 non-null   float64
 38  government_expenditure_on_education%       5951 non-null   float64
 39  government_health_expenditure%             4938 non-null   float64
 40  multidimensional_poverty_headcount_ratio%  494 non-null    float64
 41  gini_index                                 1936 non-null   float64
 42  birth_rate                                 16037 non-null  float64
 43  death_rate                                 16019 non-null  float64
 44  life_expectancy_at_birth                   15866 non-null  float64
 45  population                                 16665 non-null  float64
 46  rural_population                           16539 non-null  float64
 47  voice_and_accountability_estimate          4648 non-null   float64
 48  voice_and_accountability_std               4648 non-null   float64
 49  intentional_homicides                      4209 non-null   float64
dtypes: float64(48), object(2)
memory usage: 6.4+ MB

In [18]:
data2.head()

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.801696,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.893688,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,57.970348,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.066940,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN

In [19]:
columns = pd.Index(['country', 'date', 'inflation_annual%', 'real_interest_rate', 'risk_premium_on_lending', 'doing_business', 'GDP_current_US', 'gini_index'], name = 'item')

columns

Index(['country', 'date', 'inflation_annual%', 'real_interest_rate',
       'risk_premium_on_lending', 'doing_business', 'GDP_current_US',
       'gini_index'],
      dtype='object', name='item')

In [20]:
data2.head()

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.801696,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.893688,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,57.970348,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.066940,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN